<div class="container-main">

  <p>
<img style="max-width: 100%; width: 800px; height: 500px" class="logo" src="assets/logoF.PNG">
  </p>
  <h3>Sobre nosotros:</h3>
<font color="blue"> Lorem ipsum is a placeholder text used to fill unfilled spaces until proper text is found.

  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Phasellus id semper enim.
  Morbi nec felis vitae enim molestie sagittis id eu sem.
  Nulla nibh quam, commodo ac arcu a, dictum rutrum nunc.
  Etiam eget libero semper, feugiat sem quis, interdum libero.

  By the way if you were wondering that piece of text doesn't mean anything.</font>
</div>
<br>
<body class="container">

<!-- Define the footer -->
<footer class="page-footer green">
  <div class="container ">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">
          Footer Content
        </h5>
        <p class="grey-text text-lighten-4">
          CONTENT
        </p>
        <div class="col l4 offset-l2 s12">
          <p>TOOLS</p>
        </div>

      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contactenos</h5>
        <ul>

            <button class="btn btn-lg" style="background-color:transparent;">
              <img src="assets/tlf.png" height ="50" width="50" >

            </button>


            <button class="btn btn-lg" style="background-color:transparent;">
              <img src="assets/dc.png" height ="50" width="50" >

            </button>


            <button class="btn btn-lg" style="background-color:transparent;">
              <img src="assets/msj.png" height ="50" width="50" >

            </button>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright green darken-3">
    <div class="container ">
      © 2020 Copyright Text

    </div>
  </div>
</footer>
</body>


