<br>
<div class="row animated fadeIn fast card-columns" >
  <div class="col-md-4">
<h1>{{ videojuego.nombre }} ({{videojuego.lanzamiento}})</h1>
<hr>
    <img [src]="videojuego.img" class="img-fluid" [alt]="videojuego.nombre">
    <br><br>
    <a style="max-width: 100%; width: 600px; height: 40px"[routerLink]="['/videojuegos']" class="btn btn-outline-danger btn-block col-12- mx-aut">
      Regresar
    </a>

  </div>
  <div class="col-md-8">
    <h3>{{ videojuego.nombre }}</h3>
    <hr>
    <p>{{videojuego.descripcion}}</p>

    <img *ngIf="videojuego.consola == 'ps4'" class="logo" src="assets/ps4.jpg">
    <img *ngIf="videojuego.consola == 'pc(riot)' "class="logo" src="assets/pc.jpg">
    <img *ngIf="videojuego.consola == 'xbox'" class="logo" src="assets/xbox.jpg">
    <img style="max-width: 50%; width: 600px; height: 200px" *ngIf="videojuego.consola == 'pc'" class="logo" src="assets/pc2.jpg">
  </div>
</div>
